<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validarformulario</servlet-name>
        <servlet-class>servlets.validarformulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticar</servlet-name>
        <servlet-class>servlets.Autenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreaDaComunidadeJava</servlet-name>
        <servlet-class>servlets.AreaDaComunidadeJava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>servlets.Sair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientePessoa</servlet-name>
        <servlet-class>servlets.ServletServicoPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudEcommerce</servlet-name>
        <servlet-class>servlets.CrudEcommerce</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validarformulario</servlet-name>
        <url-pattern>/validarformulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticar</servlet-name>
        <url-pattern>/autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreaDaComunidadeJava</servlet-name>
        <url-pattern>/areadacomunidadejava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientePessoa</servlet-name>
        <url-pattern>/servletservicopessoa</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LuMarEcommerce.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>CrudEcommerce</servlet-name>
        <url-pattern>/crudecommerce</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
